@using DevLink.Public.Models
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title.ToLower() : devlink</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("devlink", "Index", "Welcome")</p>
                </div>
                <div class="float-right">
                    @if (Request.IsAuthenticated)
                    {
                        <span class="greeting">hello @(DependencyResolver.Current.GetService<IFindMembers>().FindLoggedInMember().FullName).</span>                     
                    }
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav class="main-menu">
                        <ul id="menu">
                            <li>@Html.ActionLink("Stats", "Index", "MembershipStats").</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix @ViewBag.Css">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy;@DateTime.Now.Year devlink.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/js-webshim/minified/polyfiller.js"></script>
        <script>
            //$.webshims.debug = true;
            $.webshims.polyfill('forms forms-ext');
        </script>

        @RenderSection("scripts", required: false)        							
    </body>
</html>
